<!DOCTYPE html>
<html>
  <head>
    <title>Files</title>
  </head>
  <body>
    <h1>Directory</h1>

    <a href="/home">
      <button>Home Page</button><br><br>
    </a>

    <ul>
      <% let files = locals.files %>
      <% for (let i = 0; i < files.length; i++) { %>
        <li>
          <a href="/filepage/<%= files[i].filename %>"><%= files[i].filename %></a>
        </li>
        <p>
          <a href="https://github.com/<%= files[i].owner %>/<%= files[i].repo %>">GitHub</a><br>
          Ramp Up Score: <%= files[i].rampUpScore %><br>
          Correctness: <%= files[i].correctnessScore %><br>
          Bus Factor: <%= files[i].busFactorScore %><br>
          Responsive Maintainer: <%= files[i].respScore %><br>
          License Compatibility: <%= files[i].licenseScore %><br>
          Dependency Metric: <%= files[i].dependencyMetric %><br>
          Pull Request Metric: <%= files[i].pullRequestMetric %><br><br>
        </p>

      <% } %>
    </ul>
  </body>

  
</html>